#victimd h2 {
  color: #3D3D3D;
}

#darkLordd h2 {
  color: #FF0000;
}

#virusd h2 {
  color: crimson;
}

#agentd h2 {
  color: black;
}

#ballistad h2 {
  color: black;
}

#primald h2 {
  color: #4F3431;
}

#hazardd h2 {
  color: #BEBDC2;
}